.Changepasswordfeild{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.passwordfeilfd{
    display:flex;
    flex-direction: column;
    margin-top: 10%;  align-items: center; 
    justify-content: center;
    margin-top: 10%;
    gap: 20px; 
    
}