.registerScreenIonic{
    block-size: 100vh;
    inline-size: 100vw;
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    align-items: center;
}

.registerUserForm{
    width: 95vw;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.registerUserFields{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.registerUserFields input{
    border: none;
}

.registerUserFields>label{
    color: var(--med-dark-green);
}

.registerUserForm>img{
    width: 50%;
    margin: 0 auto;
}