.registerScreenIonic{
<<<<<<< HEAD
    padding: 2%;
=======
>>>>>>> e62ed9601a5b991d93e1c3e94031177b2e8a7da2
    block-size: 100vh;
    inline-size: 100vw;
    background-color: rgba(243, 243, 243, 1);
    display: flex;
    align-items: center;
<<<<<<< HEAD
    background-image: url("../../assets/images/Backgroundimg/bgimg.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    overflow: hidden;
}
.title{
    margin-top: 3%;
    font-weight: 700;
    font-size: xx-large;
=======
>>>>>>> e62ed9601a5b991d93e1c3e94031177b2e8a7da2
}

.registerUserForm{
    width: 95vw;
    padding: 1rem 1rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    gap: 2rem;
    overflow-y: auto; /* Allows form scrolling */
    max-height: 90vh; /* Ensures form is scrollable if needed */
=======
    gap: 1rem
>>>>>>> e62ed9601a5b991d93e1c3e94031177b2e8a7da2
}

.registerUserFields{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.registerUserFields input{
    border: none;
}

.registerUserFields>label{
    color: var(--med-dark-green);
}

.registerUserForm>img{
<<<<<<< HEAD
    width: 100%;
    margin: 0 auto;
}
.p-password-input.p-inputtext.p-component.p-filled
{
    width: 100%;
}

.half-screen-modalReg {
    --height: 40vh; /* Half screen height */
    --width: 100vw; /* 80% of screen width */
    --border-radius: 15px;
    --background: white;
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: center;
  }
  
  .modalContent {
    padding: 30px;
    
  }

    
  .lottie-containerlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
  
=======
    width: 50%;
    margin: 0 auto;
}
>>>>>>> e62ed9601a5b991d93e1c3e94031177b2e8a7da2
