.loginScreenIonic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-right: 4vw;
  background-color: var(--med-light-grey);
}

.loginScreenIonic>img{
  max-height: 30vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.inputbox {
  height: 100%;
  width: 100%;
}

.inputs input,
.inputs .p-password {
  width: 100%;
  max-width: 20rem;
  border-radius: 10px;
  border: none;
}
.p-icon-field.p-icon-field-right {
  width: 100%;
}
.forgot {
  font-size: 15px;
  font-weight: bold;
  color: #0c4b41;
  margin-top: 5%;
}

.text1 {
  font-size: 22px;
  font-weight: bold;
  width: 20rem;
  color: #0c4b41;
  margin-bottom: 20px;
}

.hitext {
  display: flex;
  width: 100%;
}

.loginRegisterUser{
  color: var(--med-dark-green);
  font-weight: 600;
}

.loginRegisterUser:hover{
  text-decoration: underline;
}

.loginIonicLogo{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.8rem 0;
}

.loginIonicLogo>ion-icon {
  background-color: var(--med-light-green);
  color: var(--med-dark-green);
  font-size: 1.6rem;
  border-radius: 50%;
  padding: 0.6rem;
}