.loginScreenIonic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-right: 3vw;
  background-color: var(--med-light-grey);
  background-image: url("../../assets/images/Backgroundimg/bgimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  /* animation: fadeInScale 0.8s ease-out; */
}

.loginScreenIonic > img {
  max-height: 37vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.inputbox {
  height: 100%;
  width: 100%;
}

.inputs input,
.inputs .p-password {
  width: 100%;
  max-width: 20rem;
  border-radius: 10px;
  border: none;
}

.p-icon-field.p-icon-field-right {
  width: 100%;
}

.forgot {
  font-size: 15px;
  font-weight: bold;
  color: #0c4b41;
  margin-top: 5%;
}

.welcometext {
  font-size: 22px;

  width: 20rem;
  margin-top: 10%;
  color: #0c4b41;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: xx-large;
}

.hitext {
  display: flex;
  width: 100%;
}

.loginRegisterUser {
  color: var(--med-dark-green);
  font-weight: bold;
}

.loginRegisterUser:hover {
  text-decoration: underline;
}

.loginIonicLogo {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.8rem 0;
}

.loginIonicLogo > ion-icon {
  background-color: var(--med-light-green);
  color: var(--med-dark-green);
  font-size: 1.6rem;
  border-radius: 50%;
  padding: 0.6rem;
}

.half-screen-modal {
  --height: 35vh;
  /* Half screen height */
  --width: 100vw;
  /* 80% of screen width */
  --border-radius: 15px;
  --background: white;
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: center;
}

.modalContent {
  padding: 30px;
  background-image: url("../../assets/images/Backgroundimg//popupbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
