.forgotPassIonicScreen {
  block-size: 100vh;
  inline-size: 100vw;
  background-color: rgba(243, 243, 243, 1);
}
.forgettitle {
  width: 80%;
  font-size: xx-large;
  font-weight: 800;
}
.forgotPassword {
  width: 95vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.forgotPassword > h1 {
  margin: 0;
  padding: 1rem;
  color: var(--med-dark-green);
}

.forgotPasswordFields {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.custom-otp-input:focus {
  border-color: var(--med-dark-green);
  outline: none;
  box-shadow: 0 0 5px var(--med-dark-green);
}

.custom-otp-input:hover {
  border-color: #999;
}

.p-inputotp {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.p-inputotp input {
  /* width: 15vw; */
}
